$primary-color: #2c98f0;
$text-color: #4d4d4d;
$bg-color: #fff;
$dark-color: #000;
$light-color: #fff;
$background-dark: #111;
$background-light: #1a1a1a;

$sidebar-width: 25rem;
$sidebar-width-mobile: 15.625rem;

$breakpoint-mobile: 30rem;
$breakpoint-tablet: 48rem;
$breakpoint-desktop: 80rem;

@mixin mobile {
    @media (max-width: #{$breakpoint-mobile}) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: #{$breakpoint-tablet}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$breakpoint-desktop}) {
        @content;
    }
}