$primary-color: #2c98f0;
$text-color: #4d4d4d;
$bg-color: #fff;
$dark-color: #000;
$light-color: #fff;
$background-dark: #111;
$background-light: #1a1a1a;

$sidebar-width: 400px;
$sidebar-width-mobile: 250px;