@use '../../styles/partials/variables' as *;
.skills {
    padding: 21rem 7rem;
    width: 78vw;
    @include tablet {
        padding: 4rem 7rem;
        width: 90vw;
    }

    @include mobile {
        padding: 4rem 3rem;
        width: 100%;
    }
    

    .section-header {
        margin-bottom: 4rem;

        // &__meta {
        //     font-size: 12px;
        //     color: #999;
        //     text-transform: uppercase;
        // }
    }

    .skills__description {
        text-align: center;
        font-size: 1rem;
        color: #666;
        margin-bottom: 2rem;
    }

    .skills__grid {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        justify-content: space-between;

        .skill {
            flex: 1 1 45%; 
            display: flex;
            flex-direction: column;
            color: white;

            &__name {
                font-size: 1rem;
                font-weight: bold;
            }
            &__percentage {
                display: flex;
                justify-content: flex-end;
            }

            &__progress {
                width: 100%;
                height: 8px;
                background: #f1f1f1;
                border-radius: 4px;
                overflow: hidden;
                position: relative;
            }

            &__fill {
                height: 100%;
                border-radius: 4px;
                transition: width 1s ease-in-out;
                position: relative;

                &--react { background: #e683ff; }
                &--js { background: #96ffff; }
                &--html { background: #75ff0d; }
                &--node { background: #ffec01; }
                &--css { background: #8081ff; }
                &--mysql { background: #ff59ab; }
            }
        }
    }
}